{% extends 'base.html.twig' %}

{% block title %}Hotels{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for hotel in hotels %}
                <div class="col-sm-12 col-md-6 mb-3">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-4 p-0">
                                <img class="card-img-top" src="{{ hotel.thumbnail }}" alt="{{ hotel.name }}" width="100%">
                            </div>
                            <div class="col-sm-8 p-0">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5 class="card-title">{{ hotel.name }}</h5>
                                    </div>
                                    <p class="card-text">{{ hotel.description | truncate(250, '...') }}</p>
                                    <a href="{{ path('app_hotel_today_review', { hotelId: hotel.id }) }}" class="card-link"> Show me a random review for today</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           {% endfor %}
        </div>
    </div>

{% endblock %}
