{% extends 'base.html.twig' %}

{% block title %}Hotels{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="card">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="{{ todayReview.hotel.thumbnail }}" alt="{{ todayReview.hotel.name }}" width="100%">
                    </div>
                    <div class="col-sm-8 p-0 d-flex align-items-center">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class="card-title text-center">{{ todayReview.hotel.name }}</h5>
                            </div>
                            <p class="card-text text-center text-warning" style="font-size: 1.2rem">
                                {% for star in 1..todayReview.rating %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                {% if todayReview.rating < 5 %}
                                    {% for star in 1..(5 - todayReview.rating) %}
                                        <i class="fa fa-star-o"></i>
                                    {% endfor %}
                                {% endif %}
                            </p>
                            <p class="card-text">{{ todayReview.content | truncate(250, '...') }}</p>
                            <p class="card-text text-muted text-right">{{ todayReview.createdAt | date("m/d/Y") }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
