{% extends 'base.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}

    <div class="container text-center mt-5">
        <h1>{{ exception.message }} - 404 Not Found</h1>
        <a href="{{ path('app_hotels') }}">Go back to hotels list</a>
    </div>

{% endblock %}
